@font-face {
    font-family: 'luckiest_guyregular';
    src: url('luckiestguy-webfont.eot');
    src: url('luckiestguy-webfont.eot?#iefix') format('embedded-opentype'),
    url('luckiestguy-webfont.woff2') format('woff2'),
    url('luckiestguy-webfont.woff') format('woff'),
    url('luckiestguy-webfont.ttf') format('truetype'),
    url('luckiestguy-webfont.svg#luckiest_guyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* reprenez ici votre feuille de style de l'exercie n3-02-logo2-transforms, nous allons la compéter */
/*
Ajoutez les règles de style nécessaires pour rendre le SVG responsive
*/

svg{
    height: auto;
    width: 50%;
}

circle{
    transform-origin: center;
    fill: none;
    stroke-width: 7px;
    stroke: #008B6F;
}

line{
    stroke: black;
    stroke-width: 5px;
    stroke-linecap: round; /*arrondi les bouts de ligne*/
}
text{
    font-size: 60px;
    text-anchor: middle;
    stroke: #00392D;
    stroke-width: 3px;
    fill: #F6F7F3;
}

polygon{
    stroke: #00392D;
    stroke-width: 2px;
    fill: #008B6F;
    stroke-linejoin: round; /*arrondi les jointures*/
}

.triangle_group{
    stroke-width: 1px;
}